#container-banner {
  padding-left: 0;
  padding-right: 0;
}
#container-overall {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}
